$primaryColor: darkblue;
$secondColor: darkslategray;

html {
    font-family: generalFont;
}

.box {
    width: 100%;
    text-align: center;
}

h1 {
    color: $primaryColor;
    font-size: 6em;
    line-height: 1em;
}

.container {

    &__subtitle {
        color: $secondColor;
        padding: 15px;
        font-size: 2em;
    }
}

.back {
    max-width: 70%;
    margin: auto;
}

img {
    width: 100%;
}